__pycache__
.DS_Store
rollouts
*.gb
*.ram
.ipynb_checkpoints
raw_documentation
*.pem
_autoplay.mp4
session_*
.env
PokemonRed.gb.state
venv*
.python-version
pylivestream.json
stream_to_twitch.sh
pokemon.mp3
livestream.jpeg
